@using Childrens_Social_Care_CPD.Constants
@using Childrens_Social_Care_CPD.Enums
@using Contentful.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.WebUtilities
@addTagHelper *, Contentful.AspNetCore

@using (@Html.BeginForm("SetCookies", "Cookie", null, FormMethod.Post, false, null))
{
    var refererValue = (@ViewBag.referer == null?@ViewBag.referer: WebEncoders.Base64UrlEncode(System.Text.ASCIIEncoding.ASCII.GetBytes(@ViewBag.referer)));
    <input type="hidden" id="pageNameId" value="@{@ViewBag.pageName}" name="pageName" />
    <input type="hidden" id="pageTypeId" value="@{@ViewBag.pageType}" name="pageType" />
    <input type="hidden" id="referer" value="@{@refererValue}" name="referer" />
    <input type="hidden" id="sendingPageTypeId" value="@{@ViewBag.sendingPageType}" name="sendingPageType"/>
    <input type="hidden" id="sendingPage" value="@{@ViewBag.sendingPage}" name="sendingPage"/>

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to accept analytics cookies?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
                @{
                    bool? accepted = false;
                }
                @if (ViewBag.analyticsCookieSet == null)
                {
                    @if (((Context.Request.Cookies.ContainsKey(SiteConstants.ANALYTICSCOOKIENAME)) && Context.Request.Cookies[SiteConstants.ANALYTICSCOOKIENAME] == SiteConstants.ANALYTICSCOOKIEACCEPTED))
                    {
                        accepted = true;
                    }
                    else if (((Context.Request.Cookies.ContainsKey(SiteConstants.ANALYTICSCOOKIENAME)) && Context.Request.Cookies[SiteConstants.ANALYTICSCOOKIENAME] == SiteConstants.ANALYTICSCOOKIEREJECTED))
                    {
                        accepted = false;
                    }
                    else
                    {
                        accepted = null;
                    }
                }
                else if (ViewBag.analyticsCookieSet == SiteConstants.ANALYTICSCOOKIEACCEPTED)
                {
                    accepted = true;
                }

                <div class="govuk-radios__item">
                    @if (@accepted == true)
                    {
                        <input class="govuk-radios__input" id="analytics-cookies" name="analyticsCookieConsent" type="radio" value="accept" checked="checked">
                    }
                    else
                    {
                        <input class="govuk-radios__input" id="analytics-cookies" name="analyticsCookieConsent" type="radio" value="accept">
                    }

                    <label class="govuk-label govuk-radios__label" for="analytics-cookies">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    @if (@accepted == false)
                    {
                        <input class="govuk-radios__input" id="analytics-cookies-2" name="analyticsCookieConsent" type="radio" value="reject" checked="checked">
                    }
                    else
                    {
                        <input class="govuk-radios__input" id="analytics-cookies-2" name="analyticsCookieConsent" type="radio" value="reject">
                    }
                    <label class="govuk-label govuk-radios__label" for="analytics-cookies-2">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button class="govuk-button" type="submit" data-module="govuk-button">
        Save cookie settings
    </button>
}