@using System.Text.RegularExpressions;
@addTagHelper *, Contentful.AspNetCore


@{
    var headerModel = (ViewBag.PageHeader as PageHeader);
}

@if (headerModel != null)
{
    <header class="govuk-header app-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage" title= "@{@headerModel.HeaderLinkTitle}">
                    <span class="govuk-header__logotype">
                        <img src="../assets/images/crest.png" alt="Department for Education homepage" class="govuk-header__logotype-crown-fallback-image">
                        <span class="govuk-header__logotype-text">
                            Department for Education
                        </span>
                    </span>
                    <span class="govuk-header__product-name">@headerModel.Header</span>
                </a>
            </div>
        </div>
    </header>

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content">
                        <strong class="govuk-tag govuk-phase-banner__content__tag">
                            @headerModel.PrototypeHeader
                        </strong>
                        <span class="govuk-phase-banner__text">
                            @if (!string.IsNullOrEmpty(headerModel.PrototypeTextHtml))
                            {
                                @Html.Raw(Regex.Replace(headerModel.PrototypeTextHtml, "<.P?>", string.Empty));
                            }
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
}