@using Contentful.Core.Models;
@addTagHelper *, Contentful.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Childrens_Social_Care_CPD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/application.css" asp-append-version="true"/>

</head>
<body>

    @{await Html.RenderPartialAsync("../PartialViews/Header");}
 
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @{await Html.RenderPartialAsync("../PartialViews/Footer");}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
