@using Contentful.Core.Models;
@model ContentfulCollection<Page>
@{
    ViewData["Title"] = "Home Page";
}

@{var pageContents = @Model.FirstOrDefault();}

<div class="text-center" style="width:100%">
    <h1 class="display-4">@pageContents.PageTitle</h1>
    <br />

    <P>
        @pageContents.Section1
    </p>
     <P>
        @pageContents.Section2
    </p>

</div>

