//@use "sass:map";
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$moj-images-path: "/assets/images/moj/";

@import "../../node_modules/govuk-frontend/govuk/all";
@import "../../node_modules/@ministryofjustice/frontend/moj/components/filter/filter";
@import '../../node_modules/dfe-frontend-alpha/packages/dfefrontend';
@import "overrides/dfe-overrides";
@import "overrides/dfe-vertical-nav";
@import "overrides/govuk-overrides";
@import "overrides/search-mobile-filter-modal";
@import "overrides/site";