@{
    Layout = "_ErrorLayout";
    ViewData["Title"] = "Page not found";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">
            If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
            If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
            If the web address is correct or you selected a link or button, <a href="mailto:develop-child-family-social-work-career-team@education.gov.uk" class="govuk-link">contact the Develop your career in child and family social work team</a> if you need to speak to someone.
        </p>
    </div>
</div>
