@{
    Layout = "_ErrorLayout";
    ViewData["Title"] = "Internal server error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">
            <a class="govuk-link" href="mailto:support-for-social-workers-team@education.gov.uk">Contact the Support for social workers team</a> if you need to speak to someone.
        </p>
    </div>
</div>
