@using Contentful.Core.Models;
@model List<Role>

@foreach (var roleGroup in Model.Select((e, i) => new { Role = e, Grouping = (i / 2) }).GroupBy(e => e.Grouping))
    {
        <div class='govuk-grid-row'>
            @foreach (var role in roleGroup.Select(x => x.Role))
            {
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
                <div class="section-card">
                    <h3 class="govuk-heading-m">
                        @{
                            var pageName = role.RedirectPageName?.PageName;
                            var pageType = role.PageType?.PageType;
                        }

                            @Html.ActionLink(@role.RoleHeader,"LandingPage","CPD",new{pageName, pageType }, new { @class= "govuk-link"})
                        </h3>
                        <p class="govuk-!-margin-bottom-6">@role.RoleContents</p>
                    </div>
                </div>
            }
        </div>
    }