@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@model AreaOfPracticeList
@inject IRenderer<AreaOfPracticeList> _inlineAreaOfPracticeListRenderer

<div class="govuk-grid-row">
    @_inlineAreaOfPracticeListRenderer.Render(Model)
</div>
