@using Childrens_Social_Care_CPD.Contentful.Models;

@{
    var contextModel = (ContextModel)ViewData["ContextModel"];
    var breadcrumbs = contextModel.BreadcrumbTrail;
    breadcrumbs.Reverse();
}

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ul>
    @foreach(KeyValuePair<string, string> trailItem in breadcrumbs)
    {
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/@trailItem.Value">
                @trailItem.Key
            </a>
        </li>
    }
    </ul>
</div>