@{
    Layout = "_SiteLayout";
    IgnoreSection("SideMenu");
}

@section PageBanner {
    @await RenderSectionAsync("PageBanner", required: false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

@section Head {
    @await RenderSectionAsync("Head", required: false)
}


@await RenderSectionAsync("Hero", required: false)
@await RenderSectionAsync("PromoBanner", required: false)
<div class="dfe-width-container">
    @RenderBody()
</div>