@using Childrens_Social_Care_CPD.Contentful.Models;

@model DefaultButton
<button type="submit" class="govuk-button" data-module="govuk-button" href="@Model.RelativeLink">
    @Model.ButtonText
</button>