@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@model Details

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            @* TODO: add ID? *@
            @Model.SummaryText
        </span>
    </summary>
    <div class="govuk-details__text">
        @Model.DetailsText
    </div>
</details>