@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@model Details

<details class="govuk-details" data-testid="details-container">
    <summary class="govuk-details__summary" data-testid="details-summary">
        <span class="govuk-details__summary-text">
            @Model.SummaryText
        </span>
    </summary>
    <div class="govuk-details__text" data-testid="details-text">
        <partial name="_RichText" model="Model.DetailsText" />
    </div>
</details>