@using Childrens_Social_Care_CPD.Configuration.Features;

@inject ICookieHelper cookieHelper;
@inject IFeaturesConfig featuresConfig;

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link href="~/css/application.min.css" rel="stylesheet" />
    @if (cookieHelper.GetRequestAnalyticsCookieState(Context) == AnalyticsConsentState.Accepted)
    {
        <partial name="_GoogleAnalyticsPartial" />
    }

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="govuk-template__body">
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <header class="dfe-header" role="banner">
        <div class="govuk-width-container dfe-header__container">
            <div class="dfe-header__logo">
                <a class="dfe-header__link dfe-header__link--service " href="/" aria-label="DfE homepage">
                    <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
                    <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
                </a>
            </div>
            <div class="dfe-header__content" id="content-header">
                <div class="dfe-header__menu">
                    <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
                </div>
            </div>
        </div>
        <div class="dfe-width-container dfe-header__service-name">
            <a href="/" class="dfe-header__link--service">Support for social workers</a>
        </div>
        <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
            <div class="govuk-width-container">
                <p class="dfe-header__navigation-title">
                    <span id="label-navigation">Menu</span>
                    <button class="dfe-header__navigation-close" id="close-menu">
                        <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                        </svg>
                        <span class="govuk-visually-hidden">Close menu</span>
                    </button>
                </p>
                <ul class="dfe-header__navigation-list">
                    <li class="dfe-header__navigation-item dfe-header__navigation-item--current" id="mmi-home">
                        <a class="dfe-header__navigation-link" href="/home">
                            Home
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item" id="mmi-career">
                        <a class="dfe-header__navigation-link" href="/career-stages/practitioner">
                            Career stages
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item" id="mmi-developmentProgrammes">
                        <a class="dfe-header__navigation-link" href="/development-programmes">
                            Development programmes
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item" id="mmi-exploreRoles">
                        <a class="dfe-header__navigation-link" href="/explore-roles">
                            Explore roles
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    @if (featuresConfig.IsEnabled(Features.EmployerStandards))
                    {
                        <li class="dfe-header__navigation-item" id="mmi-employerStandards">
                            <a class="dfe-header__navigation-link" href="/employer-standards">
                                Employer standards
                                <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                                </svg>
                            </a>
                        </li>
                    }
                    @if (featuresConfig.IsEnabled(Features.AgencyResources))
                    {
                        <li class="dfe-header__navigation-item" id="mmi-agencyResources">
                            <a class="dfe-header__navigation-link" href="/agency-resources">
                                Agency resources
                                <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                                </svg>
                            </a>
                        </li>
                    }
                    @if (featuresConfig.IsEnabled(Features.PathwaysModules))
                    {
                        <li class="dfe-header__navigation-item" id="mmi-pathwaysModules">
                            <a class="dfe-header__navigation-link" href="/pathways-social-work-leadership-modules/about-pathways">
                                Pathways leadership modules
                                <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                                </svg>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-0" id="main-content" role="main">
        <partial name="_BetaBanner" /> 
        <div class="govuk-width-container ">
            @RenderBody()
        </div>
    </main>

    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Footer links</h2>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" datatestid="Privacy policy" href="https://www.gov.uk/government/publications/privacy-information-business-contacts-and-stakeholders/privacy-information-business-contacts-and-stakeholders#using-your-data-to-carry-out-research">
                                Privacy policy
                            </a>
                        </li>

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" datatestid="Cookies" href="/cookies">
                                Cookies
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" datatestid="Accessibility" href="/accessibility">
                                Accessibility
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" datatestid="Terms and conditions" href="/termsconditions">
                                Terms and conditions
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" datatestid="Sitemap" href="/sitemap">
                                Sitemap
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" datatestid="Feedback" href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_bmcLDedq5wipeTA">
                                Feedback
                            </a>
                        </li>
                    </ul>
                    <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                        <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                    </svg>
                    <span class="govuk-footer__licence-description">
                        All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" title="">Open Government Licence v3.0</a>, except where otherwise stated
                    </span>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
