@using Childrens_Social_Care_CPD.Contentful.Models;

@model ImageResource

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="dfe-o-banner__image-container">
            <a href="@Model.Image.File.Url" target="_blank">
                <img src="@Model.Image.File.Url" alt="@Model.Image.Description">
            </a>
        </div>
    </div>
</div>