@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful;

@model RoleList

@{

    if (Model.Roles.Count == 0)
    {
        <span>No Roles Available</span>  
    }

    foreach (var contentItem in Model.Roles)
    {
        var detailedRole = contentItem.Items.FirstOrDefault(x => typeof(DetailedRole) == x.GetType()) as DetailedRole;

        <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3>
                @Html.ContentLink(detailedRole.Title, contentItem.Id)
            </h3>
        </div>

        @if (detailedRole != null)
        {
            <p class="govuk-body-s">@detailedRole.Summary.</p>
            <div class="govuk-grid-row govuk-!-padding-bottom-3">
                <div class="govuk-grid-column-one-half">
                    <ul class="govuk-list">
                        <li>
                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: @detailedRole.SalaryRange</span>
                        </li>
                    </ul>
                </div>
            </div>
        }
    }
}
