@using Childrens_Social_Care_CPD.Constants
@addTagHelper *, Contentful.AspNetCore

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
     <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/css/application.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/stylesheets/govuk-frontend-ie8-4.4.1.min.css">
    <![endif]-->
  @if(Context.Request.Cookies.ContainsKey(SiteConstants.ANALYTICSCOOKIENAME) && Context.Request.Cookies[SiteConstants.ANALYTICSCOOKIENAME].Equals("accept"))
  {
    await Html.RenderPartialAsync("../PartialViews/GoogleAnalyticsPartial");
  }

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="govuk-template__body">
    @{
        await Html.RenderPartialAsync("../Shared/_CookieConsentPartial");
    }
     <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    @{
        await Html.RenderPartialAsync("../PartialViews/Header");
    }
    @RenderBody()
    @{
        await Html.RenderPartialAsync("../PartialViews/Footer");
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <!-- component HTML -->
    <script src="/javascript/govuk-frontend-4.4.1.min.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
