@addTagHelper *, Contentful.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />
    <!-- Google tag (gtag.js) -->
    @{
        var googleAnalyticsKey = Environment.GetEnvironmentVariable("CPD_GOOGLEANALYTICSTAG") ?? String.Empty;
        var googleAnalyticsUrl = string.Format("https://www.googletagmanager.com/gtag/js?id={0}", googleAnalyticsKey);
    }
    <script async src="@{@googleAnalyticsUrl}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '@{
            @googleAnalyticsKey
        }');
    </script>

</head>
<body class="govuk-template__body">

    @{
        await Html.RenderPartialAsync("../PartialViews/Header");
    }
        @RenderBody()
    @{
        await Html.RenderPartialAsync("../PartialViews/Footer");
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
