@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful;

@model LinkCard

<div class="dfe-section-card">
    <h3>@Html.ContentLink(Model.TitleLink.Name, Model.TitleLink.Uri)</h3>
    <p class="govuk-body">@Model.Text</p>
</div>