@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful;

@model LinkCard

<div class="dfe-section-card">
    <govuk-heading level="Model.TitleLevel">
        @Html.ContentLink(Model.TitleLink.Name, Model.TitleLink.Uri)
    </govuk-heading>
    <p class="govuk-body">@Model.Text</p>
</div>