@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@model LinkListCard
@inject IRenderer<ContentLink> _contentLinkRenderer

<govuk-heading level="2" display-size="3">
    @Model.Title
</govuk-heading>
<ul class="govuk-list">
    @foreach (var contentLink in Model.Links)
    {
        <li>
            <h3>
                @_contentLinkRenderer.Render(contentLink)
            </h3>
        </li>
    }
</ul>