@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;

@model LinkListCard

<div class="dfe-section-card">
    <h2>@Model.Title</h2>
    <ul class="govuk-list">
        @foreach (var contentLink in Model.Links)
        {
            <li>
                <h3>
                    @Html.ContentLink(contentLink.Name, contentLink.Uri)
                </h3>
            </li>
        }
    </ul>
</div>