@using Childrens_Social_Care_CPD.Contentful.Models;

@model NavigationMenu

<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        @foreach (var menuItem in Model.Items)
        {
            string pageName = $"/{ViewBag.ContextModel.PageName}";
            string uri = menuItem.Uri.StartsWith('/') ? menuItem.Uri : $"/{menuItem.Uri}";
            var css = pageName.StartsWith(uri)
                ? "dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current"
                : "dfe-vertical-nav__section-item";

            <li class="@css">
                <a class="dfe-vertical-nav__link" href="@uri">@menuItem.Name</a>
            </li>
        }
    </ul>
</nav>
