<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You have a circular link in your content that cannot be rendered. This can happen when two Content items reference each other. Please remove the circular reference to fix this issue.
    </strong>
</div>
