@using Childrens_Social_Care_CPD.Contentful.Models;

@model Content

@if (Model != null && Model.ShowContentHeader)
{
    var useBreadcrumbs = ((ContextModel)ViewData["ContextModel"]).BreadcrumbTrail.Count() > 0 
        || Model.PageType == PageType.PathwaysTrainingContent;
    var textCss = "govuk-grid-column-three-quarters-from-desktop govuk-!-padding-top-4";
    textCss += useBreadcrumbs
        ? " page-banner-with-breadcrumbs"
        : " page-banner-without-breadcrumbs";
    
    ContextModel contextModel = (ContextModel)ViewBag.ContextModel;

    <section id="content-banner" class="app-section-content app-section-content--blue govuk-!-margin-bottom-8">
        <div class="dfe-width-container">
            <div class="govuk-grid-row govuk-!-padding-bottom-0">
                @if (useBreadcrumbs)
                {
                    <div class="govuk-grid-column-three-quarters-from-desktop banner-breadcrumbs">
                        <partial name="_BreadcrumbTrail" model="Model" />
                    </div>
                }
                <div class="@textCss">
                    <h1 id="content-banner-title" class="govuk-heading-xl">@Model.ContentTitle</h1>
                    <p id="content-banner-subtitle" class="govuk-body-l">@Model.ContentSubtitle</p>
                </div>
                @if (Model.PageType == PageType.PathwaysTrainingContent)
                {
                    <partial name="_TrainingContentLocation" />
                }
            </div>
        </div>
    </section>
}
