@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@model PageContentsItem

<li>
    <a href="#swcd-contents-anchor-@Model.AnchorLink.Trim()" class="govuk-link">
        @Model.ItemText
    </a>
</li>