@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;

@model Content

<div class="govuk-button-group">
    @{
        ContextModel contextModel = (ContextModel)ViewBag.ContextModel;

        <a href="@contextModel.NavigationHelper.Previous.Url" button type="submit"
            class="govuk-button govuk-button--secondary" data-module="govuk-button" draggable="false">
            Previous
        </a>

        <a href="@contextModel.NavigationHelper.Next.Url" button type="submit" class="govuk-button govuk-button"
            data-module="govuk-button" draggable="false">
            Next
        </a>
    }
</div>