@using Childrens_Social_Care_CPD.Contentful.Models;

@model RichTextBlock;

@functions 
{
    void RenderTitle()
    {
        if (Model.DisplayTitle)
        {
            var level = Model.TitleLevel > 0
                ? Model.TitleLevel
                : 2;

            var tagBuilder = new TagBuilder($"h{level}");
            tagBuilder.InnerHtml.Append(Model.Title);

            @tagBuilder;
        }
    }
}

@if (ViewBag.ContextModel.UseContainers ?? true)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            @{ RenderTitle(); }
            <partial name="_RichText" model="Model.Document" />
        </div>
    </div>
}
else
{
    <partial name="_RichText" model="Model.Document" />
}