@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@model RoleList
@inject IRenderer<RoleList> _inlineRoleListRenderer

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h2>@Model.Title</h2>
        @_inlineRoleListRenderer.Render(Model)
    </div>
</div>
