@using Childrens_Social_Care_CPD.Constants

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <title>@ViewData[SiteConstants.PageTitle]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/experimental.css">

    @if (Context.GetRequestAnalyticsCookieState() == AnalyticsConsentState.Accepted)
    {
        <partial name="../PartialViews/GoogleAnalyticsPartial" />
    }

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="govuk-template__body">
    <partial name="_CookiesAndAnalyticsConsent" />
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <partial name="_Header" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        @RenderBody()
    </main>

    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <!-- component HTML -->
    <script src="/javascript/govuk-frontend-4.4.1.min.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
