@inject ICookieHelper _cookieHelper;

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <title>@ViewBag.ContextModel.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link href="~/css/application.min.css" rel="stylesheet" />
    @if (_cookieHelper.GetRequestAnalyticsCookieState(Context) == AnalyticsConsentState.Accepted)
    {
        <partial name="_GoogleAnalyticsPartial" />
    }
    @await RenderSectionAsync("Head", required: false);

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="govuk-template__body">
    <partial name="_CookiesAndAnalyticsConsent" />
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <partial name="_Header" />
    <partial name="_BackLink" model="@ViewBag.ContextModel?.BackLink" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-6" id="main-content" role="main">
        @await RenderSectionAsync("PageBanner", required: false)
        @RenderBody()
    </main>

    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <!-- component HTML -->
    <script src="/javascript/govuk-frontend-4.7.0.min.js"></script>
    <script src="/javascript/dfefrontend-0.1.8.min.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
