@{
    Layout = "_SiteLayout";
    IgnoreSection("Hero");
}

@section PageBanner {
    @await RenderSectionAsync("PageBanner", required: false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

@section Head {
    @await RenderSectionAsync("Head", required: false)
}

@await RenderSectionAsync("PromoBanner", required: false)

<div class="govuk-width-container dfe-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            @await RenderSectionAsync("SideMenu", required: true)
        </div>
        <div class="govuk-grid-column-three-quarters">
            @RenderBody()
        </div>
    </div>
</div>