@using Childrens_Social_Care_CPD.Contentful.Models;

@model VideoResource

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <iframe id="player" title="video" type="text/html" class="iframe-boarder-width" width="640" height="390" allowfullscreen src="@Model.Video.File.Url"></iframe>
        <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
            <summary class="govuk-details__summary"> <span class="govuk-details__summary-text">View transcript  </span></summary>
            <div class="govuk-details__text">
                @{
                    await Html.RenderPartialAsync("_RichText", Model.Transcript);
                }
            </div>
        </details>
    </div>
</div>