/* STANDARD COLOURS */
body, p, h1, h2, h3, h4, h5, h6, a, span, div, table, th, td, blockquote, li, dt, dd, tr {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
}

.logo {
    display: block;
    max-height: 32px;
    max-width: 100%;
}
/* DFE CARD COMPONENT - NEW
--------------------------- */
.dfe-section-card {
    padding: 16px;
    margin-bottom: 20px;
    flex: 1;
    background-color: #F3F2F1;
}

.dfe-section-card__container {
    display: flex;
    width: 100;
}

@media (max-width: 40.0525em) {
    .dfe-section-card__container {
        display: grid;
        width: 100;
    }
}

/* ASIDE COMPONENT - NEW
--------------------------- */
.app-related-items {
    border-top: 2px solid #347ca9;
    padding-top: 10px;
}

.app-related-items .govuk-list > li {
    margin-bottom: 10px;
}

/* OVERIDE GOV INSET TEXT STYLING - NEW
--------------------------------------- */
.govuk-inset-text {
    border-left: 10px solid #347ca9;
}

/* HOMEPAGE HERO BANNER ----------------------- */
.app-section-beta {
    padding: 30px 0;
}

.app-section-beta__blue {
    background-color: #347ca9;
}

.body-header-font {
    color: white;
}

/* DFE HEADER - CODE FROM DFE DESIGN GUIDE AND WITH EDITS --------------------------------------------------------- */
.govuk-header {
    background-color: #003a69;
}

.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid #347ca9;
}

.govuk-header__product-name, .govuk-header__logotype-text {
    line-height: 2.5rem !important;
    font-size: 1.2rem;
}

.app-header .govuk-header__logo {
    width: 85%;
}

.app-header .govuk-header__content {
    width: 0;
}

.govuk-header__logotype-crown-fallback-image {
    height: 45px;
    width: 45px;
}

.govuk-header__logotype-text::after {
    content: "|";
}

.govuk-header__logotype {
    margin-right: 0;
}

.govuk-header__navigation-item--active a:link, .govuk-header__navigation-item--active a:hover, .govuk-header__navigation-item--active a:visited {
    color: #f3f2f1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.1em;
}

.edf-hero-banner {
    margin-top: -10px !important;
    margin-bottom: 40px;
}

@media (max-width: 40.0625em) {
    .govuk-header__product-name {
        max-width: 80%;
        line-height: 1.2rem !important;
        font-size: 1rem;
    }

    .govuk-header__logotype-text {
        min-width: 100%;
        line-height: 2.2rem !important;
        font-size: 1rem;
    }

    .edf-hero-banner {
        margin-top: 0px !important;
        margin-bottom: 20px;
    }
}

/* ==========================================================================
DFE banner
========================================================================== */
/* Banner Container */
.dfe-o-banner {
    display: flex;
    width: 100%;
    min-height: 10rem;
    margin: 0 auto;
}

/* Banner Content Container */
.dfe-o-banner__content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ebf2f6;
}

/* Banner Image Container */
.dfe-o-banner__image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Image Styles */
.dfe-o-banner__image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mirrored Banner */
.dfe-o-banner--mirrored {
    flex-direction: row-reverse;
}

/* Banner Text Clamping */
.dfe-o-banner [class^=dfe-t-body],
.dfe-o-banner [class^=dfe-t-heading] {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
}

.dfe-o-banner [class^=dfe-t-body] {
    -webkit-line-clamp: 5;
}

/* Media Query for Mobile */
@media (max-width: 63.99em) {
    .dfe-o-banner {
        width: 100%;
        flex-direction: column-reverse;
    }

    .dfe-o-banner__content-container, .dfe-o-banner__image-container {
        width: 100%;
    }

    .dfe-o-banner .dfe-a-image {
        overflow: hidden;
    }

    .dfe-o-banner .dfe-a-image img {
        position: relative;
    }
}

.dfe-o-banner__inner-content-container {
    width: 80%;
    padding: 3rem;
}