.back-link {
    display: none;
}

.js-enabled .back-link {
    display: block !important;
}

.section-card-home {
    @extend .dfe-section-card;
    border-bottom: 3px solid #003A69;
}

.image-card h2 {
    @extend .govuk-heading-m
}

.iframe-border-width {
    border-width: 0px;
}

/* ONS document list */
.ons-document-list {
    margin-bottom: 0;
}

.ons-document-list__item {
    border-bottom: 1px solid var(--ons-color-borders-list);
    margin: 0 0 1.5rem;
    padding: 0 0 1.5rem;
}

@media (min-width: 400px) {
    .ons-document-list__item {
        -webkit-box-align: start;
        align-items: flex-start;
        display: -webkit-box;
        display: flex;
    }
}

.ons-document-list__item:last-of-type {
    border-bottom: 0;
    margin: 0;
}

.ons-document-list__item-image {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-bottom: 1rem;
    width: 136px;
}

@media (min-width: 400px) {
    .ons-document-list__item-image {
        margin-right: 1.5rem;
    }
}

@media (min-width: 740px) {
    .ons-document-list__item-image {
        margin-bottom: 0;
    }
}

.ons-document-list__item-image .ons-document-list__image-link--placeholder {
    height: 96px;
}

.ons-document-list__item-image--file {
    width: 96px;
}

.ons-document-list__item-image--file .ons-document-list__image-link {
    border-color: var(--ons-color-borders-document-image);
}

.ons-document-list__item-image--file .ons-document-list__image-link--placeholder {
    height: 120px;
}

.ons-document-list__image-link {
    border: 2px solid transparent;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    width: 100%;
}

.ons-document-list__image-link:focus {
    background-color: var(--ons-color-placeholder) !important;
    border: 2px solid var(--ons-color-borders-document-image-focus);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 4px solid var(--ons-color-focus) !important;
    outline-offset: 0;
}

.ons-document-list__image-link--placeholder {
    background-clip: padding-box;
    background-color: var(--ons-color-borders-document-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    height: 100%;
}

.ons-document-list__item-metadata {
    line-height: 1.2 !important;
}

.ons-document-list__item-attribute {
    color: var(--ons-color-text-metadata);
    display: inline-block;
    margin: 0 1rem 0 0;
}

.ons-document-list__attribute-link {
    color: inherit;
}

.ons-document-list__attribute-link:hover {
    color: var(--ons-color-text-metadata);
    -webkit-text-decoration: underline solid var(--ons-color-text-metadata) 2px;
    text-decoration: underline solid var(--ons-color-text-metadata) 2px;
}

.ons-document-list__item-description {
    margin-bottom: 0;
    max-width: 660px;
}

.ons-document-list__item-description p:last-of-type {
    margin-bottom: 0;
}

.ons-document-list__item--featured {
    background-color: var(--ons-color-banner-bg);
    border-bottom: none;
    display: block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding: 2rem;
}

@media (min-width: 740px) {
    .ons-document-list__item--featured {
        -webkit-box-align: start;
        align-items: flex-start;
        display: -webkit-box;
        display: flex;
    }

    .ons-document-list__item--featured .ons-container {
        display: -webkit-box;
        display: flex;
    }
}

.ons-document-list__item--featured .ons-document-list__item-image {
    width: 248px;
}

.ons-document-list__item--featured .ons-document-list__item-image .ons-document-list__item--featured .ons-document-list__item-image__image-link--placeholder {
    height: 96px;
}

@media (min-width: 740px) {
    .ons-document-list__item--featured .ons-document-list__item-image {
        margin-right: 2.5rem;
        width: 379px;
    }

    .ons-document-list__item--featured .ons-document-list__item-image .ons-document-list__item--featured .ons-document-list__item-image__image-link--placeholder {
        height: 248px;
    }
}

.ons-document-list__item--featured .ons-document-list__item-header--reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    margin-bottom: 0.5rem;
}

.ons-document-list__item--featured + .ons-document-list__item {
    border-top: none;
    margin-top: 0;
}

.ons-document-list__item--full-width {
    padding: 2rem 0;
}

/* Pagination and sort stack */

/* Media query for mobile view (adjust the max-width as needed) */
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* Vertically center the elements */
}

@media (max-width: 768px) {
    .pagination-container {
        flex-direction: column;
        align-items: flex-start; /* Align elements to the left */
    }

    .column-half {
        margin-bottom: 30px; /* Add a gap between the elements */
        align-self: flex-start; /* Align individual columns to the left */
    }
}

/* Sort options */
.sort-options .sort-options__label {
    padding-right: 5px;
    display: inline-block;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .sort-options .sort-options__label {
        font-size: 16px;
    }
}

@media (min-width: 40.0625em) {
    .sort-options .sort-options__select {
        font-size: 16px;
    }
}

/* Custom styles for mobile */
@media only screen and (max-width: 768px) {
    .govuk-form-group .govuk-input__wrapper,
    .govuk-form-group .govuk-search-group,
    .govuk-form-group .govuk-button {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0 !important; /* Override desktop margin */
        margin-top: 1rem;
        display: block; /* Force elements to stack on top of each other */
    }
}

/* Highlight for search result text */
.search-result em {
    background-color: #ffdd00;
    font-weight: bold;
    font-style: normal;
}

.columns-layout {
    display: flex;
    flex-wrap: wrap;
}

.columns-layout-col {
    display: flex;
}

/* Page Contents Component */
.page-contents-header {
    padding: 40px;
    border: 1px solid #b1b4b6;
    border-radius: 6px;
    background-color: #f9f9f8;
    margin-bottom: 40px;
}

.page-contents-header ul {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.page-contents-header li {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.page-contents-header li ::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

/* infobox classes borrowed from Help for Early Years */
.infobox {
    background: #ebf2f6;
    border-top: #347ca9 solid 10px;
    margin: 25px 0 25px 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

div.infobox-width-container {
    margin-left: 0;
}

.infobox-green-brain {
    background-color: rgb(218, 246, 244);
    border-top: 10px solid rgb(40, 161, 151);
}

.infobox-green-i {
    background-color: rgb(243, 242, 241);
    border-top: 10px solid rgb(40, 161, 151);
}

.infobox .svg-inline--fa {
    background-color: #347ca9;
    color: #ffffff;
    padding: 20px !important;
    position: relative;
    display: inline-block;
    width: 32px;
    top: -15px;
    left: -30px;
    height: 1em;
}

.infobox .fa-green {
    background-color: rgb(40, 161, 151);
}

.infobox .govuk-grid-column-one-quarter {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.infobox .govuk-grid-column-three-quarters {
    padding-left: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    width: 100%;
}

.infobox .govuk-body-m {
    max-width: 100%;
}

@media (max-width: 40.0625em) {
    .infobox .small-screen-padding-right {
        padding-right: 20px;
    }
}

/* Back to top component - styles taken from Help for Early Years */
.app-back-to-top {
    margin-top: 60px;
    font-size: 19px;
}

.app-back-to-top__icon {
    display: inline-block;
    width: 0.8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 10px;
    vertical-align: middle;
}

.banner-breadcrumbs {
    position: relative;
}

/* feedback component tweaks */
div#page-feedback a {
    cursor: pointer;
}

/* print this page button */
.print-link-button {
    background: url(/assets/images/icon-print.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
    margin-bottom: 40px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.1429;
}

/* quote box */
.blockquote-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blockquote-container blockquote.quote {
    position: relative;
    border: 3px solid #0b0c0c;
    padding: 20px;
    margin: 16px 20px;
}

@media (min-width: 40.0625em) {
    .blockquote-container blockquote.quote {
        margin: 16px 0px 16px 40px;
    }
}

.blockquote-container blockquote.quote p {
    padding: 0 0 0 10px;
    margin-top: 10px;
    position: relative;
    z-index: 9999;
    border: none;
    max-width: 100%;
}

@media (min-width: 40.0625em) {
    .blockquote-container blockquote.quote p {
        padding-left: 60px;
    }
}

.blockquote-container blockquote.quote p::before {
    content: none;
}

.blockquote-container blockquote.quote::before {
    position: absolute;
    content: "“";
    font-size: 8em;
    margin-top: -0.4em;
    background-color: #ffffff;
    line-height: 0.9;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: serif;
}

.blockquote-container blockquote.quote .quote-attribution-centre p {
    text-align: center;
}

.blockquote-container blockquote.quote .quote-attribution-left p {
    text-align: left;
    padding-left: 60px;
}

.blockquote-container blockquote.quote .quote-attribution-right p {
    text-align: right;
    padding-right: 75px;
}

/* Reduce indentation of left-aligned quote attribution on smaller screens */
@media (max-width: 768px) {
    .blockquote-container blockquote.quote .quote-attribution-left p {
        padding-left: 10px; 
    }
}

/*
    Pathways Modules
*/
.progress-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 5px;
}
@media (min-width: 40.0625em) {
    .progress-bar {
        gap: 10px;
    }
}
.progress-bar .progress-bar--item:first-child .progress--heading {
    margin-top: 2.5px;
}
@media (min-width: 40.0625em) {
    .progress-bar .progress-bar--item:first-child .progress--heading {
        margin-top: 4px;
    }
}
.progress-bar .progress-bar--item .line {
    width: 100%;
    height: 0;
    position: relative;
    bottom: 17.25px;
    right: 54%;
    z-index: 0;
    border-width: 2.5px;
    border-top-style: solid;
}
@media (min-width: 40.0625em) {
    .progress-bar .progress-bar--item .line {
        bottom: 21px;
        border-width: 4px;
    }
}

.module-overview-section-break {
    margin-left: 81px;
}

.greyed-out {
    opacity: 0.5;
}

.module-section--pages {
    margin-left: 10px;
    color: #505a5f;
    font-weight: normal;
}

.module-section--header {
    display: grid;
    grid-template-columns: auto 139px;
    padding-bottom: 24px;
}

.module-overview--section {
    display: grid;
    grid-template-columns: 81px auto;
}
@media (max-width: 40.0525em) {
    .module-overview--section {
        grid-template-columns: 50px auto;
    }
}
.module-overview--section .icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 2;
    position: absolute;
}
.module-overview--section .icon.completed {
    background-color: #1d70b8;
    color: #ffffff;
}
.module-overview--section .icon.started {
    background-color: #ffffff;
    color: govuk-color("blue");
    outline: 4px solid #1d70b8;
    outline-offset: -4px;
}
.module-overview--section .icon.not_started {
    background-color: #ffffff;
    color: govuk-color("black");
    outline: 1px solid #b1b4b6;
    outline-offset: -1px;
}
.module-overview--section .line {
    height: 100%;
    border-left: 1px solid #b1b4b6;
    position: relative;
    z-index: 1;
    right: -18px;
}
.module-overview--section .module-section--container {
    display: grid;
    grid-template-columns: auto 139px;
    gap: 7px;
    margin-left: 10px;
    margin-right: 10px;
}
.module-overview--section .module-section--container .progress-indicator {
    margin-left: auto;
}

section.completed {
    background-color: #f3f2f1;
    border-radius: 6px;
    padding: 40px;
}
@media (max-width: 40.0525em) {
    section.completed {
        padding: 20px;
    }
}

.govuk-table {
    margin-bottom: 0;
}

.module-section--item {
    font-size: 1.1875rem;
}
.module-section--item ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 0;
}
@media (max-width: 40.0525em) {
    .module-section--item ul {
        padding-left: 10px;
    }
}
.module-section--item li {
    list-style: square;
}
.module-section--item ul > li:last-child {
    margin-bottom: 0;
}

.contentful-configuration-error {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.contentful-configuration-error .highlight {
    color: red;
}

.pathways-location-info {
    font-size: 19px;
    color: #505A5F;
    font-weight: 400;
}

.pathways-location-info .pathways-location-section-title {
    font-weight: 700;
}

.pathways-nav {
    padding-top: 25px;
}

.pathways-module-index {
    margin-bottom: 0px;
}

a.section-nav-link {
    height: 20px;
}

/* 
* Beta Banner
*/
.app-section-beta-banner {
    background-color: #ebf2f6;
}

// /*
// * Content Links
// */
// .content-link-text {
//     position: absolute;

//     text-decoration: underline;
//     vertical-align: middle;
// }

/*
* Promo banner
*/
.promo-banner {
    padding-top: 30px;
    margin-top: -50px;
    padding-bottom: 0px;
}
.promo-banner-header {
    margin-bottom: 24px;
}
.promo-banner-subheading {
    margin-bottom: 10px;
}

/*
* Promo banner content links
*/
.promo-banner .govuk-link {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.promo-banner .govuk-link:focus-within,
.promo-banner .govuk-link:focus {
    background-color: #fd0;
    outline: none;
}
.promo-banner .govuk-link svg {
    flex-shrink: 0;
}
.promo-banner .govuk-link:visited svg path {
    fill: #4c2c92
}
.promo-banner .govuk-link:hover svg path {
    fill: #003078;
    text-decoration-thickness: 3px;
}
.promo-banner .govuk-link:visited:hover svg path {
    fill: #003078;
    text-decoration-thickness: 3px;
}
.promo-banner .govuk-link:focus-within svg path,
.promo-banner .govuk-link:focus path {
    fill: #000;
}
.promo-banner .govuk-link:visited:focus-within svg path,
.promo-banner .govuk-link:visited:focus path {
    fill: #000;
}

.promo-banner .govuk-link .content-link-text {
    text-decoration: underline;
    vertical-align: middle;
    position: relative;
    padding-top: 4px;
}

.promo-banner .govuk-link:hover {
    text-decoration-thickness: 3px;
}

.promo-banner .govuk-link:visited:hover {
    text-decoration-thickness: 3px;
}

.promo-banner .promo-banner-links p {
    margin-bottom: 0px;
}

@media (min-width: 769px) {
    .promo-banner .columns-layout-col {
        margin-bottom: 0px !important;
    }
}