@using Contentful.Core.Models;
@model ContentfulCollection<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width:100%">
    <h1 class="display-4">Hello World - Test Application</h1>
</div>

