<div class="no-results govuk-!-font-size-19">
    <h2 class="govuk-heading-m">No resources found</h2>
    <p class="govuk-body">Improve your search results by:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>double-checking your spelling</li>
        <li>searching for something less specific</li>
        <li>using fewer keywords</li>
        <li>removing filters</li>
    </ul>
</div>