@model PageViewModel

@foreach (var cardGroup in Model.Cards.Select((e, i) => new { Card = e, Grouping = (i / 2) }).GroupBy(e => e.Grouping))
    {
        <div class='govuk-grid-row'>
            @foreach (var card in cardGroup.Select(x => x.Card))
            {
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
                <div class="section-card">
                    <h3 class="govuk-heading-m">
                        @{
                            var pageName = card.RedirectPageName?.PageName;
                            var pageType = card.PageType?.PageType;
                        
                        var routeValues = new RouteValueDictionary 
                        {
                          { "pageName", card.RedirectPageName?.PageName },
                          { "pageType", card.PageType?.PageType },
                          { "sendingPage", Model.PageName.PageName },
                          { "sendingPageType", Model.PageType.PageType }
                        };
                        }
                            @Html.ActionLink(card.CardHeader,"LandingPage","CPD",routeValues , new { @class= "govuk-link"})
                        </h3>
                        <p class="govuk-body govuk-!-margin-bottom-6">@card.CardContents</p>
                    </div>
                </div>
            }
        </div>
    }