@using Childrens_Social_Care_CPD.Enums
@model PageViewModel;
@{
    var pageName = ViewBag.pageName;
}

@if (Model != null)
{
    <div class="govuk-width-container">
        @{
            await Html.RenderPartialAsync("../PartialViews/Breadcrumb");
        }
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
                    <p class="govuk-body">@Model.PageSubHeading</p>
                    @{
                        Model.CareerStages.All(s => s.Roles.All(x => { x.SalaryRangeLabel = Model.Labels.FirstOrDefault()?.labelHeading; return true; }));
                        await Html.RenderPartialAsync("../PartialViews/RoleList", Model.CareerStages);
                    }
                </div>
            </div>
        </main>
    </div>
}